# Región AWS donde desplegar los recursos
region = "us-east-1"

# ID de AMI para Ubuntu 20.04 LTS
# Actualiza según la región que vayas a usar
ami_id = "ami-0261755bbcb8c4a84"

# Nombre del par de llaves SSH que ya has creado en AWS
key_name = "tu-key-pair" 